* {
    margin: 0;
    padding: 0;
}
body{
    max-width:1920px;
    min-width: 300px;
}
 .pasos{
    width: 100%;
    background-color:  #3F3739;
    box-sizing: border-box;
    padding: 1%;
}
.pasos #pri{
    width: 16%;
}
.pasos #seg{
    width: 32%;
}

nav{
    width: 100%;
    background:#2f9292;   
    overflow: hidden;
    
}
 nav ul li{
    list-style-type: none;
   float: left;
}
nav ul li a{
   padding: 10px 20px;
   display: block;
  
text-decoration: none;
}

nav ul li a:hover { 
   background: #549999; 
   color: #00538C;   
}

.main{
    width: 100%;   
    height: 0;

position: relative;
padding-bottom: 46.25%;
}

.main iframe{
    width: 100%;
    height: 100%;
    position: absolute;   
}
    
    @media screen and (max-width: 778px){
        
        .pasos #pri{
            width: 35%;
        }
        .pasos #seg{
            width: 70%;
        }
       
    
      
        main img {
            border-radius: 4%;
        }
            
        

                       
    

            
           


